PRIVATE_KEY=
LITVM_RPC_URL=https://liteforge.rpc.caldera.xyz/http
GM_TREASURY_ADDRESS=
GM_FEE_ZKLTC=0.0001
FEE_TREASURY_ADDRESS=
FAUCET_FEE_ZKLTC=0.0002
VBUSDC_CLAIM_AMOUNT=0.5
VBUSDC_MAX_SUPPLY=10000000
VBUSDC_INITIAL_OWNER_SUPPLY=1000000
SWAP_FEE_ZKLTC=0.0002
SWAP_RATE_VBUSDC_PER_ZKLTC=1000
SWAP_INITIAL_VBUSDC_LIQUIDITY=100
SWAP_INITIAL_ZKLTC_LIQUIDITY=0.1
EXISTING_VBUSDC_ADDRESS=
EXISTING_SWAP_ADDRESS=
